site_name: Notas
site_url: https://javierobcn.github.io/Notas/
repo_url: https://github.com/javierobcn/Notas
markdown_extensions:
    - toc:
        permalink: ïƒ
    - admonition
    - def_list
nav:
    - Home: index.md
    - About: about.md
